<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </div>

  <%
=begin%>
 <div>
    <%= render "role_form", role: @role %>
  </div> 
<%
=end%>

  <div>
    <%= form.submit %>
    <%= form.error.full_messages.join(', ') if @user.errors.any? %>
  </div>
<% end %>
