<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </div>

  <div>
    <br><%= form.label :email %><br>
    <%= form.email_field :email %><br>
  </div><br>
  <div>
  <%= render "role_form", user: @user%>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>