<%= form_with model: user do |f| %>
  <div class="form-group">
    <%= f.label :role_id, "Roles:" %><br>
    
    <div class="form-check">
      <%= f.radio_button :role_id, 1 %>
      <%= f.label :role_id, "Admin", class: "form-check-label" %>
    </div>
    
    <div class="form-check">
      <%= f.radio_button :role_id, 2 %>
      <%= f.label :role_id, "Customer", class: "form-check-label" %>
    </div>
    
    <div class="form-check">
      <%= f.radio_button :role_id, 3 %>
      <%= f.label :role_id, "Staff", class: "form-check-label" %>
    </div>
  </div>

  <%= f.submit %>
</div>
<% end %>
