<div class='container'>
  <%= form_for @order do |f| %>
    <div class="field">
      <%= f.label :user_id %>
      <%= f.text_field :user_id, readonly: true %>
      <%= f.label :cart_id %>
      <%= f.text_field :cart_id, readonly: true %>
    </div>

    <div class="field">
      <%= f.label :billing_address %>
      <%= f.text_area :billing_address %>
    </div>

    <div class="field">
      <%= f.label :shipping_address %>
      <%= f.text_area :shipping_address %>
    </div>

    <div class="field">
      <%= f.label :payment_method %>
      <br>
      <%= f.radio_button :payment_method, 'Credit Card' %> Credit Card
      <%= f.radio_button :payment_method, 'Cash on Delivery' %> Cash on Delivery
    </div>

    <% if current_user.is_admin?%>
      <div class="field">
        <%= f.label :status %>
        <br>
        <%= f.radio_button :status, 'Dispatched' %> Dispatched
        <%= f.radio_button :status, 'Delivered' %> Delivered
        <%= f.radio_button :status, 'Cancelled' %> Cancelled
      </div>
    <% end %>
    
    <div>
      <div class="actions"><%= f.submit "place Order", class: 'btn btn-primary' %></div><br>
      <Span><%= link_to 'Your cart', cart_path(@cart), class: 'btn btn-primary' %></span>
    </div>
  <% end %>
</div>
