<h1>Order Details</h1>
<p><strong>Order Number:</strong> <%= @order.order_number %></p>
<p><strong>Order Date:</strong> <%= @order.order_date %></p>
<p><strong>Status:</strong> <%= @order.status %></p>
<p><strong>Payment Method:</strong> <%= @order.payment_method %></p>
<p><strong>Billing Address:</strong> <%= @order.billing_address %></p>
<p><strong>Shipping Address:</strong> <%= @order.shipping_address %></p>
<p><strong>Subtotal:</strong>
<ul>
  <% subtotal = 0 %>
  <% @order.cart.line_items.each do |line_item| %>
    <li>
      <%= "#{line_item.quantity} x $#{line_item.price} = $#{line_item.quantity * line_item.price}" %>
      <% subtotal += line_item.quantity * line_item.price %>
    </li>
  <% end %>
</ul>
<p><strong>Total:</strong> $<%= subtotal %></p>
<%= link_to 'Back to Products', products_path, class: 'btn btn-secondary' %>

<div style="display: inline-block;">
  <%= button_to "Destroy", order_path(@order), method: :delete, data: {turbo_confirm: "Are you sure?"} %>
</div>