<div class="container mt-4">
  <h1 class="display-4">Your Shopping Cart</h1>
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Delete</th>
        <th scope="col">Image</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody class="cart-items">
      <% @cart.line_items.each do |line_item| %>
        <tr class="cart-row">
          <td>
            <%= link_to raw('<i class="fas fa-trash-alt"></i>'), remove_from_cart_cart_path(line_item), method: :delete, class: 'btn btn-danger btn-remove' %>
          </td>
          <td class="align-middle cart-item-image-cell">
            <% if line_item.product.display_picture.attached? %>
              <%= image_tag line_item.product.display_picture, width: 80, height: 65, class: "cart-item-image rounded-circle" %>
            <% else %>
              <div class="no-image-container">
                <p class="card-text mt-3">No image available for this Product!</p>
              </div>
            <% end %>
          </td>
          <td class="align-middle product-title"><%= line_item.product.title %></td>
          <td class="align-middle cart-quantity-cell">
            <div class="quantity-control">
              <button class="btn btn-sm btn-primary quantity-btn" data-action="decrement">-</button>
              <span class="quantity"><%= line_item.quantity %></span>
              <button class="btn btn-sm btn-primary quantity-btn" data-action="increment">+</button>
            </div>
          </td>
          <td class="align-middle product-price"><%= number_to_currency(line_item.price) %></td>
          <td class="align-middle item-total "><%= number_to_currency(line_item.price*line_item.quantity) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <div class="total-price-section">
    <h4>Total Price:</h4>
    <p><%= number_to_currency(@cart.line_items.sum { |line_item| line_item.price * line_item.quantity }) %></p>
  </div>
  <%= link_to 'Continue Shopping', products_path, class: 'btn btn-primary btn-continue-shopping' %>
  <%= link_to 'Checkout', new_order_path, class: 'btn btn-primary btn-continue-shopping' %>
</div>
