<div class="container mt-4">
  <h1 class="display-4">Your Shopping Cart</h1>
  <% if @cart.line_items.any? %>
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Delete</th>
          <th scope="col">Image</th>
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <% @cart.line_items.each do |line_item| %>
          <tr>
            <td>
              <%= link_to raw('<i class="fas fa-trash-alt"></i>'), remove_from_cart_cart_path(line_item), method: :delete, class: 'btn btn-danger' %>
            </td>
            <td class="align-middle">
              <% if line_item.product.display_picture.attached? %>
                <%= image_tag line_item.product.display_picture, width: 80, height: 65, class: "product-image rounded-circle" %>
              <% else %>
                <div class="no-image-container">
                  <p class="card-text mt-3">No image available for this Product!</p>
                </div>
              <% end %>
            </td>
            <td class="align-middle"><%= line_item.product.title %></td>
            <td class="align-middle">
              <div class="quantity-control">
                <button class="btn btn-sm btn-outline-secondary decrease-quantity" data-line-item-id="<%= line_item.id %>">-</button>
                <input type="number" class="quantity-input" data-line-item-id="<%= line_item.id %>" value="<%= line_item.quantity %>" min="0" style="width: 45px;">
                <button class="btn btn-sm btn-outline-secondary increase-quantity" data-line-item-id="<%= line_item.id %>">+</button>
              </div>
            </td>
            <td class="align-middle"><%= number_to_currency(line_item.price) %></td>
            <td class="align-middle"><%= number_to_currency(line_item.product.price * line_item.quantity) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Continue Shopping', products_path, class: 'btn btn-primary' %>
  <% else %>
    <p>Your cart is empty!</p>
    <%= link_to 'Start Shopping', products_path, class: 'btn btn-primary' %>
  <% end %>
</div>
