<%= form_with model: product do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :quantity_in_stock %>
    <%= form.number_field :quantity_in_stock, step: 1 %>
  </div>

  <div class="field">
    <%= form.label :display_picture %>
    <%= form.file_field :display_picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
