<div class="container">
  <div class="card border-success mb-3" style="width: auto;">
    <div class="row no-gutters">
      <div class="col-md-5 align-items-start">
        <% if @product.display_picture.attached? %>
          <%= image_tag @product.display_picture, class: "card-img" %>
        <% else %>
          <p>No image available for this Product!</p>
        <% end %>
        <div class="product-title border">
          <h5 class="card-title"><%= @product.title %></h5>
        </div>
      </div>
      <div class="col-md-7"> 
        <div class="card-body" style="margin: 120px;">
          <div class="product-id border">
            <h3>Item Id: <%= @product.id %></h3>
          </div>
          <div class="product-price border">
            <h3>Price: <%= number_to_currency(@product.price) %></h3>
          </div>
          <div class="product-quantity border">
            <h3 class="card-text">Quantity: <%= @product.quantity_in_stock %></h3>
          </div>
          <div class="product-action border">
            <h3 class="card-text">
              Availability: <%= @product.quantity_in_stock > 0 ? "In stock" : "Out of stock" %>
            </h3>
          </div>
        </div>
        <% if current_user.is_admin? || current_user.is_staff? %>
          <div class="btn-group" role="group" aria-label="Product Actions">
            <%= button_to "Edit", edit_product_path, class: 'btn btn-primary btn-lg' %>
            <span class="mx-2"></span> 
            <%= button_to raw('<i class="fas fa-trash-alt"></i>'), product_path(@product), class: 'btn btn-danger btn-remove btn-lg', method: :delete, data: { turbo_confirm: "Are you sure?" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class=" container card border-success mb-3">
  <h3 class="card-title">Description</h3>
  <p class="card-text"><%= @product.description %></p>
</div>
