<nav class="navbar navbar-expand-lg navbar-light bg-blue custom-navbar" style="background-color:black; padding: 10px;">
  <a class="navbar-brand" href="/#"style="color: white;">EShop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <% if user_signed_in? %>
          <a class="nav-link" href="/products" style="color: white;">Products <span class="sr-only">(current)</span></a>
        <% end %>
      </li>

      <li class="nav-item active">
        <% if user_signed_in? && (current_user.is_staff? || current_user.is_admin?) %>
          <%= link_to "Users", users_path, class: "nav-link", style: "color: white;" %>
        <% end %>
      </li>

      <li class="nav-item active">
        <% if user_signed_in? && controller.controller_name == 'products' && (current_user.is_staff? || current_user.is_admin?) %>
          <%= link_to "Add Product", new_product_path, class: "nav-link", style: "color: white;" %>
        <% end %>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <div class="user-details">
          <div class="user-icon"><i class="fas fa-user icon-black"></i></div>
          <span><%= current_user.username %></span>
        </div>

      <% if @cart && @cart.line_items.any? %>
        <%= link_to raw('<i class="fad fa-cart-arrow-down fa-flip" style="--fa-primary-color: white	; --fa-secondary-color: white; font-size: 34px; margin: 8px;"></i>'), cart_path(@cart) %>
      <% end %>
      
        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger ml-2",style:"margin: 5px;" %>
      <% end %>
    </ul>
  </div>
</nav>
